<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @attendee.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @attendee.lastName %>
</p>

<p>
  <strong>Position:</strong>
  <%= @attendee.position %>
</p>

<p>
  <strong>City:</strong>
  <%= @attendee.city %>
</p>

<p>
  <strong>Vk:</strong>
  <%= @attendee.vk %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @attendee.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @attendee.facebook %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<p>
  <strong>Showemail:</strong>
  <%= @attendee.showEmail %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @attendee.phone %>
</p>

<p>
  <strong>Showphone:</strong>
  <%= @attendee.showPhone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attendee.description %>
</p>

<p>
  <strong>Externalimagepath:</strong>
  <%= @attendee.externalImagePath %>
</p>

<p>
  <strong>Externalthumbnailpath:</strong>
  <%= @attendee.externalThumbnailPath %>
</p>

<p>
  <strong>Isspeaker:</strong>
  <%= @attendee.isSpeaker %>
</p>

<p>
  <strong>Company:</strong>
  <%= @attendee.company %>
</p>

<p>
  <strong>Language:</strong>
  <%= @attendee.language %>
</p>

<p>
  <strong>Networkingcode:</strong>
  <%= @attendee.networkingCode %>
</p>

<p>
  <strong>Authorized:</strong>
  <%= @attendee.authorized %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @attendee.confirmed %>
</p>

<p>
  <strong>Moderated:</strong>
  <%= @attendee.moderated %>
</p>

<p>
  <strong>Withdrawed:</strong>
  <%= @attendee.withdrawed %>
</p>

<p>
  <strong>Privateinfo:</strong>
  <%= @attendee.privateInfo %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
